---
import Layout from '@layouts/MainLayout.astro';
import IconBack from '@components/icons/caret-left.astro';

import { Picture } from 'astro:assets';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const projects = await getCollection('portfolio');

  return projects.map((entry) => ({
    params: {
      slug: entry.slug,
    },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

// SEO
const title = `${entry.data.sortTitle} - Rifky Alamsyah`;
const seoDesc = entry.data.desc;
const ogImage = `https://rifkyalamsyah.github.io${entry.data.image}`;
const url = `https://rifkyalamsyah.github.io/project/${entry.slug}`;
const domain = `rifkyalamsyah.github.io/project/${entry.slug}`;
---

<Layout {title} {seoDesc} {ogImage} {url} {domain}>
  <main>
    <section class='py-8'>
      <div class='container mx-auto'>
        <div class='mb-4'>
          <a
            href='/project'
            class='text-wood-500 hover:text-wood-800 dark:text-wood-400 dark:hover:text-white flex items-center'
            ><span><IconBack /></span> Back to projects</a
          >
        </div>
        <hr class='border-wood-100/80 dark:border-wood-800/20 duration-1000' />
        <div class='flex flex-col justify-center'>
          <article
            class='mt-8 mx-auto prose lg:prose-xl dark:prose-invert prose-img:rounded-xl prose-a:no-underline hover:prose-a:underline prose-headings:text-wood-800 dark:prose-headings:text-wood-200 prose-headings:mb-4 prose-p:my-4 prose-img:my-6 prose-p:text-wood-800 dark:prose-p:text-wood-300 prose-blockquote:text-base prose-blockquote:text-wood-800 prose-blockquote:border-l-wood-300 dark:prose-blockquote:border-l-wood-800 marker:text-wood-400 dark:marker:text-wood-400 dark:prose-blockquote:text-wood-300 prose-pre:!bg-wood-900 dark:prose-pre:!bg-wood-950 prose-hr:border-wood-100/80 dark:prose-hr:border-wood-800/40 prose-h1:text-4xl prose-h2:text-3xl prose-h3:text-2xl prose-h4:text-xl prose-p:text-lg prose-li:text-lg prose-ol:my-4 prose-ul:my-4 duration-700'
          >
            <h1>{entry.data.sortTitle} - {entry.data.category}</h1>
            <p>{entry.data.desc}</p>
            <div class='flex mt-6'>
              <a
                href={entry.data.linkWeb}
                target='_blank'
                class='py-2 px-6 text-base text-wood-600 dark:text-wood-100 bg-wood-100 dark:bg-wood-800 hover:bg-wood-200 dark:hover:bg-wood-800/50 border border-wood-200 dark:border-wood-700 rounded-xl hover:no-underline duration-1000'
              >
                Visit Website
              </a>
            </div>
            <div class='my-5 duration-700'>
              <Picture
                src={entry.data.image}
                alt={entry.slug}
                width={1280}
                height={720}
                formats={['avif','webp']}
                quality={'mid'}
              />
            </div>
            <Content />
          </article>
        </div>
      </div>
    </section>
  </main>
</Layout>
