---
import Layout from '@layouts/MainLayout.astro';
import Card from '@components/project/Card.astro';
import Badge from '@components/Badge.astro';
import Button from '@components/button/Primary.astro';
import BtnSecondary from '@components/project/BtnSecondary.astro';
import { Image } from 'astro:assets';

import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

const project: CollectionEntry<'portfolio'>[] = (
  await getCollection('portfolio')
).sort(
  (a: CollectionEntry<'portfolio'>, b: CollectionEntry<'portfolio'>) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const archived: CollectionEntry<'portfolio'>[] = project.slice(4);

// SEO
import { PROJECT_PAGE_SEO } from '@data/seo';

const data = {
  title: '🔮 Crafting Digital Experiences That Convert ✨',
  desc: "Websites that drive business growth. UI/UX, front-end dev, WordPress & modern frameworks. Let's elevate your online presence.",
};
---

<Layout
  title={PROJECT_PAGE_SEO.title}
  seoDesc={PROJECT_PAGE_SEO.seoDesc}
  ogImage={PROJECT_PAGE_SEO.ogImage}
  url={PROJECT_PAGE_SEO.url}
  doamin={PROJECT_PAGE_SEO.domain}
>
  <main>
    <section>
      <div class='container mx-auto py-8'>
        <div class='py-12 flex flex-col items-center gap-4'>
          <div class='flex justify-center'>
            <Badge title='Projects' />
          </div>
          <h2 class='lg:w-[68%] 2xl:w-[58%] text-4xl lg:text-6xl text-center'>
            {data.title}
          </h2>
          <p
            class='lg:w-[50%] 2xl:w-[45%] mt-2 text-lg text-center text-dark-500 dark:text-dark-300'
          >
            {data.desc}
          </p>
        </div>
        <div
          class='grid md:grid-cols-2 lg:grid-cols-2 gap-4 justify-center mt-4'
        >
          {
            project
              .slice(0, 4)
              .map((post) => (
                <Card
                  slug={`/project/${post.slug}`}
                  imgUrl={post.data.image}
                  imgAlt={post.slug}
                  title={post.data.title}
                  url={post.data.linkWeb}
                />
              ))
          }
        </div>
        <!-- archiver -->
        <div class='pt-24 pb-4 flex flex-col justify-between'>
          <div class='pb-8 flex justify-between items-center border-b border-dark-100 dark:border-dark-900'>
            <h2 class='text-4xl lg:text-4xl'>💾 Archived</h2>
            <Button
              href='/project/archived'
              name='View All'
              radius='rounded-full'
            />
          </div>
          {
            archived.slice(0).map((list) => (
              <div class='py-8 flex flex-col md:flex-row lg:justify-between gap-4 border-b border-dark-100 dark:border-dark-900 duration-700'>
                <div class='flex flex-col md:flex-row justify-items-start md:items-center gap-6 lg:gap-12'>
                  <a href={`/project/${list.slug}`}>
                    <Image
                      src={list.data.image}
                      alt='img'
                      width='350'
                      height='350'
                      class='rounded-lg w-full md:w-[200px] lg:w-[400px]'
                    />
                  </a>
                  <div class='md:w-[60%] flex'>
                    <a href={`/project/${list.slug}`} class='hover:underline'>
                      <h3 class='text-lg lg:text-2xl'>{list.data.title}</h3>
                    </a>
                  </div>
                </div>
                <div class='md:w-[30%] flex md:flex-row md:justify-end items-center lg:gap-24'>
                  <BtnSecondary
                    href={list.data.linkWeb}
                    name='Visit Website'
                    target='_blank'
                  />
                </div>
              </div>
            ))
          }
        </div>
        <!-- archiver end -->
      </div>
    </section>
  </main>
</Layout>
