---
import Layout from '@layouts/MainLayout.astro';
import { Picture } from 'astro:assets';

import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
const project: CollectionEntry<'portfolio'>[] = (
  await getCollection('portfolio')
).sort(
  (a: CollectionEntry<'portfolio'>, b: CollectionEntry<'portfolio'>) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

// SEO
const title = 'Projects - Rifky Alamsyah';
const seoDesc = 'Discover my portfolio';
const ogImage = 'https://rifkyalamsyah.github.io/images/og/og-project.png';
const url = 'https://rifkyalamsyah.github.io/project';
const domain = 'rifkyalamsyah.github.io/project';
---

<Layout {title} {seoDesc} {ogImage} {url} {domain}>
  <main>
    <section>
      <div class='container mx-auto py-8'>
        <div class='py-6'>
          <div class='flex justify-center'>
            <div
              class='bg-wood-50 dark:bg-wood-950/50 border border-wood-100 dark:border-wood-800/50 py-1 px-4 rounded-full duration-1000'
            >
              <h1
                class='text-lg md:text-xl text-center text-wood-800 dark:text-wood-400'
              >
                Projects
              </h1>
            </div>
          </div>
          <p class='mt-2 text-lg text-center text-gray-600 dark:text-gray-400'>
            Explore my portfolio, where passion and creativity <br
              class='hidden sm:block'
            /> converge to shape enthralling visual narratives.
          </p>
        </div>
        <div
          class='grid md:grid-cols-2 lg:grid-cols-3 gap-4 justify-center mt-4'
        >
          {
            project.map((projectPost) => (
              <div class='pb-5 bg-wood-50 dark:bg-wood-950/50 border border-wood-100/60 dark:border-wood-800/30 rounded-xl duration-1000'>
                <a href={`/project/${projectPost.slug}`}>
                  <Picture
                    src={projectPost.data.image}
                    alt={projectPost.slug}
                    class='rounded-xl'
                    width={1280}
                    height={700}
                    formats={['avif', 'webp']}
                    quality={'mid'}
                  />
                </a>
                <div class='mt-4 px-3 lg:px-4 flex flex-wrap'>
                  <a
                    href={`/project/${projectPost.slug}`}
                    class='text-lg text-wood-800 hover:text-wood-900 dark:text-wood-300 dark:hover:text-white line-clamp-1'
                  >
                    {projectPost.data.title}
                  </a>
                </div>
                <div class='mt-2 px-3 lg:px-4 flex gap-3'>
                  <a
                    href={`/project/${projectPost.slug}`}
                    class='py-1 px-3 text-sm text-wood-500  dark:text-wood-500 hover:text-wood-900 dark:hover:text-wood-200 bg-wood-100 dark:bg-wood-900 rounded-lg hover:underline flex items-center gap-1 duration-1000'
                  >
                    Case Study
                  </a>
                  <a
                    href={projectPost.data.linkWeb}
                    class='py-1 px-3 text-sm text-wood-500  dark:text-wood-500 hover:text-wood-900 dark:hover:text-wood-200 bg-wood-100 dark:bg-wood-900 rounded-lg hover:underline flex items-center gap-1 duration-1000'
                    target='_blank'
                  >
                    Visit Website
                  </a>
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </section>
  </main>
</Layout>
