---
import Layout from '@layouts/PostLayout.astro';
import BackTo from '@components/navigation/Back.astro';
import Badge from '@components/blog/BadgeLg.astro';
import Button from '@components/button/Primary.astro';
import Card from '@components/blog/Card.astro';
import BackToTop from '@components/BackToTop.astro';
// ads
import BannerLarge from '@components/ads/BannerLarge.astro';

import { formatDate, formatISO } from '@utils';
import { LATEST_POST_LIMIT } from '@config';
import { Picture } from 'astro:assets';

import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

export async function getStaticPaths() {
  const allBlogPost: CollectionEntry<'blog'>[] = await getCollection('blog');

  return allBlogPost.map((entry) => ({
    params: {
      slug: entry.slug,
    },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

// Latest post
const blog: CollectionEntry<'blog'>[] = (await getCollection('blog')).sort(
  (a: CollectionEntry<'blog'>, b: CollectionEntry<'blog'>) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

// SEO
const title = `${entry.data.title}`;
const seoDesc = `${entry.data.desc}`;
const ogImage = `https://rifkyalamsyah.github.io${entry.data.imageUrl}`;
const url = `https://rifkyalamsyah.github.io/blog/${entry.slug}`;
const domain = `rifkyalamsyah.github.io/blog/${entry.slug}`;
const pubDate = `${formatISO(entry.data.pubDate)}`;
---

<Layout {title} {seoDesc} {ogImage} {url} {domain} {pubDate}>
  <div class='container mx-auto'>
    <div class='my-4 flex'>
      <BackTo href='/blog' name='Back' />
    </div>
    <hr class='border-dark-100/80 dark:border-dark-800/20 duration-1000' />    
    <article
      class='mt-8 mx-auto prose lg:prose-xl dark:prose-invert prose-img:rounded-xl prose-a:no-underline hover:prose-a:underline prose-headings:text-dark-900 dark:prose-headings:text-dark-100 prose-headings:mb-4 prose-p:my-4 prose-img:my-6 prose-p:text-dark-800 dark:prose-p:text-dark-300 prose-blockquote:text-base prose-blockquote:text-dark-800 prose-blockquote:border-l-dark-300 dark:prose-blockquote:border-l-dark-800 marker:text-dark-400 dark:marker:text-dark-400 dark:prose-blockquote:text-dark-300 prose-pre:!bg-[#23262F] dark:prose-pre:!bg-[#23262F] prose-hr:border-dark-100/80 dark:prose-hr:border-dark-800/40 prose-h1:text-4xl prose-h2:text-3xl prose-h3:text-2xl prose-h4:text-xl prose-p:text-lg prose-li:text-lg prose-ol:my-4 prose-ul:my-4 prose-figcaption:text-base duration-700'
    >
      <div class='flex justify-center'>
        <Badge value={entry.data.category} />
      </div>
      <h1 class='text-center'>{entry.data.title}</h1>
      <p class='text-center'>
        {formatDate(entry.data.pubDate)} - {entry.data.readingTime}
      </p>
      <Picture
        src={entry.data.image}
        alt={entry.data.title}
        formats={['avif', 'webp']}
        loading={'eager'}
      />
      <Content />
    </article>
    <div class='my-12'>
      <hr class='border-wood-100/80 dark:border-wood-800/20 duration-1000' />
    </div>
    <BannerLarge className='mt-6 flex justify-center'/>
  </div>
  <section>
    <div class='container mx-auto'>
      <div class='flex justify-between my-12'>
        <h1
          class='text-2xl lg:text-3xl text-center text-dark-500 dark:text-dark-300'
        >
          Latest Post
        </h1>
        <div class='hidden md:block'>
          <Button
            href='/blog'
            name='See all post'
            target=''
            radius='rounded-xl'
          />
        </div>
      </div>
      <div class='grid lg:grid-cols-2 xl:grid-cols-3 gap-4 justify-center mt-4'>
        {
          blog
            .slice(0, LATEST_POST_LIMIT)
            .map((post) => (
              <Card
                link={`/blog/${post.slug}`}
                imgSrc={post.data.image}
                imgAlt={post.slug}
                category={post.data.category}
                title={post.data.title}
                readingTime={post.data.readingTime}
                pubDate={formatDate(post.data.pubDate)}
              />
            ))
        }
      </div>
      <div class='md:hidden py-8 flex justify-center content-center'>
        <Button
          href='/blog'
          name='See all post'
          target=''
          radius='rounded-xl'
        />
      </div>
    </div>
    <BackToTop />
  </section>
</Layout>
