---
import Layout from '@layouts/MainLayout.astro';
import { formatDate } from 'src/utils';

import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
const blog: CollectionEntry<'blog'>[] = (await getCollection('blog')).sort(
  (a: CollectionEntry<'blog'>, b: CollectionEntry<'blog'>) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

// SEO
const title = 'Blog - Rifky Alamsyah';
const seoDesc = 'Explore my insightful articles';
const ogImage = 'https://rifkyalamsyah.github.io/images/og/og-blog.png';
const url = 'https://rifkyalamsyah.github.io/blog';
const domain = 'rifkyalamsyah.github.io/blog';
---

<Layout {title} {seoDesc} {ogImage} {url} {domain}>
  <main>
    <div class='container mx-auto'>
      <div class='py-5'>
        <h1
          class='text-2xl md:text-4xl text-center text-wood-800 dark:text-wood-400'
        >
          Blog
        </h1>
        <p class='mt-2 text-lg text-center text-gray-500 dark:text-gray-400'>
          Insights, thoughts and trends in design.<br class='hidden sm:block' />
          Explore my insightful articles.
        </p>
      </div>
      <div class='grid md:grid-cols-2 gap-6 lg:gap-8 justify-center mt-5'>
        {
          blog.map((blogPost) => (
            <ul>
              <li class='p-3 bg-wood-50 dark:bg-wood-950 border border-wood-100/60 dark:border-wood-800/30 rounded-xl duration-1000'>
                <a href={`/blog/${blogPost.slug}`}>
                  <img
                    src={blogPost.data.image}
                    alt={blogPost.slug}
                    class='rounded-xl'
                    width={800}
                    height={400}
                  />
                </a>
                <div class='text-wrapper mt-4 sm:px-2'>
                  <a
                    href={`/blog/${blogPost.slug}`}
                    class='text-2xl text-wood-600 hover:text-wood-800 dark:text-wood-300 dark:hover:text-white line-clamp-1'
                  >
                    {blogPost.data.title}
                  </a>
                  <p class='text-sm text-gray-500 dark:text-gray-400'>
                    {formatDate(blogPost.data.pubDate)}
                  </p>
                </div>
              </li>
            </ul>
          ))
        }
      </div>
    </div>
  </main>
</Layout>
