---
import Layout from '@layouts/MainLayout.astro';
import { formatDate } from 'src/utils';

import MostRecentCard from '@components/MostRecentArticle.astro';

import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
const blog: CollectionEntry<'blog'>[] = (await getCollection('blog')).sort(
  (a: CollectionEntry<'blog'>, b: CollectionEntry<'blog'>) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const mostRecentArticle: CollectionEntry<'blog'> = blog[0];
const otherArticles: CollectionEntry<'blog'>[] = blog.slice(1);

// SEO
const title = 'Blog - Rifky Alamsyah';
const seoDesc = 'Explore my insightful articles';
const ogImage = 'https://rifkyalamsyah.github.io/images/og/og-blog.png';
const url = 'https://rifkyalamsyah.github.io/blog';
const domain = 'rifkyalamsyah.github.io/blog';
---

<Layout {title} {seoDesc} {ogImage} {url} {domain}>
  <main>
    <div class='container mx-auto lg:py-8'>
      <div class='py-6'>
        <div class='flex justify-center'>
          <div
            class='bg-wood-50 dark:bg-wood-950 border border-wood-100 dark:border-wood-800/50 py-1 px-4 rounded-full duration-1000'
          >
            <h1
              class='text-lg md:text-xl text-center text-wood-600 dark:text-wood-400'
            >
              Blog
            </h1>
          </div>
        </div>
        <p class='mt-2 text-lg text-center text-gray-500 dark:text-gray-400'>
          Insights, thoughts and trends in design.<br class='hidden sm:block' />
          Explore my insightful articles.
        </p>
      </div>

      <MostRecentCard article={mostRecentArticle} />

      <div
        class='grid lg:grid-cols-2 xl:grid-cols-3 gap-4 lg:gap-6 justify-center mt-5'
      >
        {
          otherArticles.slice(0).map((blogPost) => (
            <ul>
              <li class='p-1 lg:p-2 bg-wood-50 dark:bg-wood-950 border border-wood-100/60 dark:border-wood-800/30 rounded-xl duration-1000'>
                <a href={`/blog/${blogPost.slug}`}>
                  <img
                    src={blogPost.data.image}
                    alt={blogPost.slug}
                    class='rounded-xl'
                    width={800}
                    height={400}
                  />
                </a>
                <div class='text-wrapper mt-4 mb-3 px-2 sm:px-3'>
                  <a
                    href={`/blog/${blogPost.slug}`}
                    class='text-2xl text-wood-600 hover:text-wood-800 dark:text-wood-300 dark:hover:text-white line-clamp-1'
                  >
                    {blogPost.data.title}
                  </a>
                  <p class='text-sm text-gray-500 dark:text-gray-400'>
                    {formatDate(blogPost.data.pubDate)}
                  </p>
                </div>
              </li>
            </ul>
          ))
        }
      </div>
    </div>
  </main>
</Layout>
