---
import Layout from '@layouts/MainLayout.astro';
import Card from '@components/blog/Card.astro';
import Badge from '@components/Badge.astro';
// article
import MostRecentCard from '@components/blog/MostRecentArticle.astro';
import { formatDate } from 'src/utils';
// content collection
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

const blog: CollectionEntry<'blog'>[] = (await getCollection('blog')).sort(
  (a: CollectionEntry<'blog'>, b: CollectionEntry<'blog'>) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const mostRecentArticle: CollectionEntry<'blog'> = blog[0];
const otherArticles: CollectionEntry<'blog'>[] = blog.slice(1);

// SEO
import { BLOG_PAGE_SEO } from '@data/seo';

const data = {
  title: '👨🏻‍💻 Design & Dev 👾 Insights',
  desc: 'Explore articles on UI/UX design, front-end development, web trends, and best practices. Learn how to build better digital experiences.'
}
---

<Layout
  title={BLOG_PAGE_SEO.title}
  seoDesc={BLOG_PAGE_SEO.seoDesc}
  ogImage={BLOG_PAGE_SEO.ogImage}
  url={BLOG_PAGE_SEO.url}
  doamin={BLOG_PAGE_SEO.domain}
>
  <main>
    <div class='container mx-auto lg:py-8'>
      <div class='py-12 flex flex-col items-center gap-4'>
        <div class='flex justify-center'>
          <Badge title='Blog' />
        </div>
        <h2 class="lg:w-[70%] text-4xl lg:text-6xl text-center">{data.title}</h2>
        <p class='lg:w-[52%] mt-2 text-lg text-center text-dark-500 dark:text-dark-300'>
          {data.desc}
        </p>
      </div>
      <MostRecentCard post={mostRecentArticle} />
      <div class='grid lg:grid-cols-2 xl:grid-cols-3 gap-4 justify-center mt-4'>
        {
          otherArticles
            .slice(0)
            .map((post) => (
              <Card
                link={`/blog/${post.slug}`}
                imgSrc={post.data.image}
                imgAlt={post.slug}
                category={post.data.category}
                title={post.data.title}
                readingTime={post.data.readingTime}
                pubDate={formatDate(post.data.pubDate)}
              />
            ))
        }
      </div>
    </div>
  </main>
</Layout>
