---
import BtnPrimary from '@components/about/BtnPrimary.astro';
const { className, title, desc, link, text, target, fs } = Astro.props;
---

<div
  class=`${className} bg-white dark:bg-dark-950 border border-dark-100/60 dark:border-dark-800/30 p-8 rounded-xl duration-1000`
>
  <h2 class='text-2xl text-black dark:text-white'>
    {title}
  </h2>
  <p class=`${fs} text-dark-500 dark:text-dark-300`>
    {desc}
  </p>
  <div class='flex mt-3'>
    <BtnPrimary href={link} name={text} target={target} />
  </div>
</div>
