---
import Layout from '@layouts/MainLayout.astro';

// SEO
const title = 'About - Rifky Alamsyah';
const seoDesc =
  'UI Designer & Front-End Developer, I love solving problems and implementing ideas by design.';
const ogImage = 'https://rifkyalamsyah.github.io/images/og/og-rifky.png';
const url = 'https://rifkyalamsyah.github.io/about';
const domain = 'rifkyalamsyah.github.io/about';
const keywords =
  'rifky, rifky alamsyah, ui designer , ui/ux designer, web designer, frontend developer, webflow developer, freelancer, rifky alamsyah freelance designer, rifky alamsyah ui designer, rifky alamsyah ui/ux designer, rifky alamsyah web designer, rifky alamsyah webflow developer, rifky alamsyah frontend developer';
---

<Layout {title} {seoDesc} {ogImage} {url} {domain} {keywords}>
  <main class='mt-auto'>
    <div class='relative h-full w-full bg-red'></div>
    <section>
      <div class='container mx-auto py-8'>
        <div class='grid grid-col-4 grid-rows-2 gap-2 xl:mx-10'>
          <!-- 1st -->
          <div
            class='lg:col-span-3 bg-wood-50 dark:bg-wood-950 border border-wood-100/60 dark:border-wood-800/30 p-8 rounded-xl duration-1000'
          >
            <h1 class='text-2xl text-wood-900 dark:text-white'>
              Rifky Alamsyah
            </h1>
            <p class='text-lg text-gray-600 dark:text-gray-400'>
              UI Designer & Front-End Web Developer, based in Indonesia 🇮🇩
            </p>
            <div class='flex mt-3'>
              <a
                href='http://read.cv/rifkyalamsyah'
                class='py-1 px-3 bg-wood-100 dark:bg-wood-900 rounded-lg text-wood-500 dark:text-wood-400 hover:text-wood-900 dark:hover:text-wood-100 hover:underline flex items-center gap-1 duration-1000'
                target='_blank'
                rel='noopener noreferrer'>Resume</a
              >
            </div>
          </div>
          <!-- 2nd -->
          <div
            class='lg:col-start-4 bg-wood-50 dark:bg-wood-950 border border-wood-100/60 dark:border-wood-800/30 p-1 rounded-xl duration-700'
          >
            <iframe
              style='border-radius:12px'
              src='https://open.spotify.com/embed/playlist/3TQNDr3NGXdbh6WRfrGuq5?utm_source=generator&theme=0'
              width='100%'
              height='152'
              allowfullscreen=''
              allow='autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture'
              loading='lazy'></iframe>
          </div>
          <!-- 3rd -->
          <div
            class='lg:col-span-2 lg:row-start-2 bg-wood-50 dark:bg-wood-950 border border-wood-100/60 dark:border-wood-800/30 p-8 rounded-xl duration-700'
          >
            <h1 class='text-2xl text-wood-900 dark:text-white'>Project</h1>
            <p class='text-gray-600 dark:text-gray-400'>
              Explore my portfolio.
            </p>
            <div class='mt-3 flex'>
              <a
                href='/project'
                class='py-1 px-3 bg-wood-100 dark:bg-wood-900 rounded-lg text-wood-500 dark:text-wood-400 hover:text-wood-900 dark:hover:text-wood-100 hover:underline flex items-center gap-1 duration-1000'
                >See Portfolio</a
              >
            </div>
          </div>
          <!-- 4th -->
          <div
            class='lg:col-start-3 lg:row-start-2 bg-wood-50 dark:bg-wood-950 border border-wood-100/60 dark:border-wood-800/30 p-8 rounded-xl duration-700'
          >
            <h1 class='text-2xl text-wood-900 dark:text-white'>
              Digital Product
            </h1>
            <p class='text-gray-600 dark:text-gray-400'>
              Check out 3D Icon / Illustrations
            </p>
            <div class='mt-3 flex'>
              <a
                href='http://rifky.gumroad.com'
                class='py-1 px-3 bg-wood-100 dark:bg-wood-900 rounded-lg text-wood-500 dark:text-wood-400 hover:text-wood-900 dark:hover:text-wood-100 hover:underline flex items-center gap-1 duration-1000'
                target='_blank'
                rel='noopener noreferrer'>Discover</a
              >
            </div>
          </div>
          <!-- 5th -->
          <div
            class='lg:col-start-4 lg:row-start-2 bg-wood-50 dark:bg-wood-950 border border-wood-100/60 dark:border-wood-800/30 p-8 rounded-xl duration-700'
          >
            <h1 class='text-2xl text-wood-900 dark:text-white'>Blog</h1>
            <p class='text-gray-600 dark:text-gray-400'>
              Read my insightful articles.
            </p>
            <div class='mt-3 flex'>
              <a
                href='/blog'
                class='py-1 px-3 bg-wood-100 dark:bg-wood-900 rounded-lg text-wood-500 dark:text-wood-400 hover:text-wood-900 dark:hover:text-wood-100 hover:underline flex items-center gap-1 duration-1000'
                >Read more</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
