---
import Layout from '@layouts/MainLayout.astro';
import Card from '@components/about/Card.astro';
import CardSpotify from '@components/about/CardMusic.astro';

// SEO
import { ABOUT_PAGE_SEO } from '@config';

// data
const about = {
  name: 'Rifky Alamsyah',
  desc: 'UI Designer & Front-End Web Developer, based in Indonesia 🇮🇩',
  resumeUrl: 'https://read.cv/rifkyalamsyah',
};

const blog = {
  title: 'Blog',
  desc: 'Read my insightful articles.',
  url: '/blog',
};

const project = {
  title: 'Projects',
  desc: 'Discover my portfolio.',
  url: '/project',
};

const product = {
  title: 'Digital Product',
  desc: 'Check out 3D Icons / Illustrations.',
  url: 'http://rifky.gumroad.com/',
};
---

<Layout
  title={ABOUT_PAGE_SEO.title}
  seoDesc={ABOUT_PAGE_SEO.seoDesc}
  ogImage={ABOUT_PAGE_SEO.ogImage}
  url={ABOUT_PAGE_SEO.url}
  doamin={ABOUT_PAGE_SEO.domain}
  keywords={ABOUT_PAGE_SEO.keywords}
>
  <main class='mt-auto'>
    <div class='relative h-full w-full bg-red'></div>
    <section>
      <div class='container mx-auto py-8'>
        <div class='grid grid-col-4 grid-rows-2 gap-2 xl:mx-10'>
          <!-- 1st -->
          <Card
            className='lg:col-span-3'
            fs='lg:text-lg'
            title={about.name}
            desc={about.desc}
            link={about.resumeUrl}
            copy='Resume'
            target='_blank'
          />
          <!-- 2nd -->
          <CardSpotify className='lg:col-start-4' />
          <!-- 3rd -->
          <Card
            className='lg:col-span-2 lg:row-start-2'
            title={project.title}
            desc={project.desc}
            link={project.url}
            copy='See Portfolio'
          />
          <!-- 4th -->
          <Card
            className='lg:col-start-3 lg:row-start-2'
            title={product.title}
            desc={product.desc}
            link={product.url}
            copy='Discover'
            target='_blank'
          />
          <!-- 5th -->
          <Card
            className='lg:col-start-4 lg:row-start-2'
            title={blog.title}
            desc={blog.desc}
            link={blog.url}
            copy='Read article'
          />
        </div>
      </div>
    </section>
  </main>
</Layout>
