---
import Layout from '@layouts/MainLayout.astro';
import Hi from '@components/Hi.astro';

// SEO
const title = 'Rifky Alamsyah - UI Designer & Frontend Dev';
const seoDesc = 'UI Designer & Frontend Dev';
const ogImage = 'https://rifkyalamsyah.github.io/images/og/og-rifky.png';
const url = 'https://rifkyalamsyah.github.io'
const domain = 'rifkyalamsyah.github.io'
const keywords = 'rifky, rifky alamsyah, ui designer , ui/ux designer, web designer, frontend developer, webflow developer, freelancer, rifky alamsyah freelance designer, rifky alamsyah ui designer, rifky alamsyah ui/ux designer, rifky alamsyah web designer, rifky alamsyah webflow developer, rifky alamsyah frontend developer'
---

<Layout {title} {seoDesc} {ogImage} {url} {domain} {keywords}>
  <main class='mt-auto'>
    <div class='relative h-full w-full bg-white'></div>
  </main>
  <section class='py-20'>
    <div class='container mx-auto'>
      <Hi />
      <h1 class='text-center text-3xl sm:text-5xl'>
        <span
          class='bg-gradient-to-r from-wood-300 to-wood-900 bg-clip-text text-transparent'
          >I'm
        </span>
        Rifky Alamsyah
      </h1>
      <p class="mt-2 text-center text-xl text-gray-500 dark:text-gray-400">UI Designer & Frontend Web Developer.</p>
      <div class="flex justify-center mt-6">
        <a href="/project" class="py-2 px-6 bg-indigo-400 hover:bg-indigo-500 rounded-full text-white">Discover 👀</a>
      </div>
    </div>
  </section>
</Layout>
