---
import Layout from '../../layouts/MainLayout.astro';

export async function getStaticPaths() {
  return [
    {
      params: { projects: 'astro-green' },
      props: {
        name: 'Astro green',
        desc: ' Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam, error? Nemo delectus dolorem, laborum maxime, cumque quam nostrum dicta optio inventore, quidem incidunt mollitia quae.',
      },
    },
    {
      params: { projects: 'astro-rose' },
      props: {
        name: 'Astro rose',
        desc: 'Astro project descriptions - Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate perspiciatis sapiente consequuntur eaque eligendi similique porro quo esse repudiandae eum delectus pariatur, ipsum rem assumenda fuga ducimus vitae minima reprehenderit debitis. Dolorum earum labore veniam?',
      },
    },
    {
      params: { projects: 'astro-yellow' },
      props: {
        name: 'Astro yellow',
        desc: 'Astro project descriptions -  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam, error? Nemo delectus dolorem, laborum maxime, cumque quam nostrum dicta optio inventore, quidem incidunt mollitia quae.',
      },
    },
    {
      params: { projects: 'astro-purple' },
      props: {
        name: 'Astro purple',
        desc: 'Astro project descriptions - Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate perspiciatis sapiente consequuntur eaque eligendi similique porro quo esse repudiandae eum delectus pariatur, ipsum rem assumenda fuga ducimus vitae minima reprehenderit debitis. Dolorum earum labore veniam?',
      },
    },
  ];
}

const { projects } = Astro.params;
const { name, desc } = Astro.props;
---

<Layout>
    <main>
        <section>
            <div class='container mx-auto py-8'>
                <div class="py-5 lg:py-8">
                    <span class="text-gray-400 text-lg"><a href="/projects" class="text-gray-700 dark:text-indigo-500 text-lg hover:underline dark:hover:text-white" data-astro-prefetch>Projects</a> / {name}</span>
                </div>
                <div class='flex justify-center'>
                  <img class='rounded-2xl' src=`/images/${projects}.jpg` alt={name} width="1440" height="480">
                </div>
                <h1 class="text-2xl text-gray-800 dark:text-white md:text-4xl font-bold py-4">{name}</h1>
                <p class="text-lg text-gray-500 dark:text-gray-400">{desc}</p>
            </div>
        </section>
    </main>
</Layout>
