---
const { title, seoDesc, ogImage, url, domain, type = 'website' } = Astro.props;
const canonicalUrl = new URL(Astro.url.pathname, Astro.site).href;

import { ViewTransitions } from 'astro:transitions';
---

<head>
  <meta charset='utf-8' />
  <meta
    name='robots'
    content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1'
  />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <link rel='sitemap' href='/sitemap-index.xml' />
  <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
  <link rel='canonical' href={canonicalUrl} />
  <title>{title}</title>
  <meta name='description' content={seoDesc} />
  <meta name='author' content='Rifky Alamsyah' />
  <meta property='og:site_name' content='Rifky Alamsyah' />
  <meta property='og:url' content={url} />
  <meta property='og:type' content={type} />
  <meta property='og:title' content={title} />
  <meta property='og:description' content={seoDesc} />
  <meta property='og:image' content={ogImage} />
  <meta property='og:image:secure_url' content={ogImage} />
  <meta name='twitter:card' content='summary_large_image' />
  <meta property='twitter:domain' content={domain} />
  <meta property='twitter:url' content={url} />
  <meta name='twitter:title' content={title} />
  <meta name='twitter:description' content={seoDesc} />
  <meta name='twitter:image' content={ogImage} />
  <meta name="google-adsense-account" content="ca-pub-6433615438084245">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6433615438084245"
     crossorigin="anonymous" is:inline></script>
  <link
    rel='alternate'
    type='application/rss+xml'
    title={title}
    href={`${Astro.site}rss.xml`}
  />
  <script
    type='text/partytown'
    async
    src='https://www.googletagmanager.com/gtag/js?id=G-JYQBQ2PS3X'
    is:inline></script>
  <script type='text/partytown' is:inline>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'G-JYQBQ2PS3X');
  </script>
  <script is:inline>
    const setDarkMode = () => {
      if (
        localStorage.theme === 'dark' ||
        (!('theme' in localStorage) &&
          window.matchMedia('(prefers-color-scheme: dark)').matches)
      ) {
        document.documentElement.classList.add('dark');
      } else {
        document.documentElement.classList.remove('dark');
      }
    };
    setDarkMode();
    document.addEventListener('astro:after-swap', setDarkMode);
  </script>
  <ViewTransitions />
</head>
