---
const { title, seoDesc, ogImage, url, domain } = Astro.props;
import { ViewTransitions } from 'astro:transitions';
---

<head>
  <meta charset='utf-8' />
  <meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <title>{title}</title>
  <meta name='description' content={seoDesc} />
  <meta name='author' content='Rifky Alamsyah' />
  <!-- Fb Meta Tags -->
  <meta property='og:url' content={url} />
  <meta property='og:type' content='website' />
  <meta property='og:title' content={title} />
  <meta property='og:description' content={seoDesc} />
  <meta property='og:image' content={ogImage} />
  <!-- X Meta Tags -->
  <meta name='twitter:card' content='summary_large_image' />
  <meta property='twitter:domain' content={domain} />
  <meta property='twitter:url' content={url} />
  <meta name='twitter:title' content={title} />
  <meta name='twitter:description' content={seoDesc} />
  <meta name='twitter:image' content={ogImage} />
  <!-- sitemap -->
  <link rel='sitemap' href='/sitemap-index.xml' />
  <!-- rrs -->
  <link
    rel='alternate'
    type='application/rss+xml'
    title={title}
    href={`${Astro.site}rss.xml`}
  />
  <!-- favicon -->
  <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
  <!-- Google tag (gtag.js) -->
  <script
    type='text/partytown'
    async
    src='https://www.googletagmanager.com/gtag/js?id=G-JYQBQ2PS3X'
    is:inline></script>
  <script type='text/partytown' is:inline>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-JYQBQ2PS3X');
  </script>
  <script is:inline>
    const setDarkMode = () => {
      if (
        localStorage.theme === 'dark' ||
        (!('theme' in localStorage) &&
          window.matchMedia('(prefers-color-scheme: dark)').matches)
      ) {
        document.documentElement.classList.add('dark');
      } else {
        document.documentElement.classList.remove('dark');
      }
    };
    setDarkMode();
    document.addEventListener('astro:after-swap', setDarkMode);
  </script>
  <ViewTransitions />
</head>
