---
import Head from '@layouts/PostHead.astro';
import Nav from '@components/navbar/Nav.astro';
import Footer from '@components/Footer.astro';

import '@fontsource-variable/dm-sans';

const { title, seoDesc, ogImage, url, domain, pubDate } = Astro.props;
---

<html lang='en' class='bg-zinc-50 scroll-smooth'>
  <Head
    title={title}
    seoDesc={seoDesc}
    ogImage={ogImage}
    url={url}
    domain={domain}
    pubDate={pubDate}
  />
  <body
    class='dark:bg-wood-900 duration-1000 dark:text-white flex flex-col content-between min-h-screen'
  >
    <Nav />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  html {
    font-family: 'DM Sans Variable', sans-serif;
  }
</style>